doctype html
html
  head
    title= title
    
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre.min.css")
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre-exp.min.css")
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre-icons.min.css")
    link(rel='stylesheet' href='/stylesheets/test.css')
  body
    block content
