doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='theme-color' content='#000000')    
    link(rel='shortcut icon' href='/images/logo.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/argon-design-system-react/apple-icon.png')
    link(rel='canonical' href='https://www.creative-tim.com/product/argon-design-system-react')
    meta(name='keywords' content='design system, react design system, bootstrap 4 design system, reactstrap design system, react bootstrap 4 design system, bootstrap 4 design, reactstrap design, bootstrap 4 system, reactstrap system, react bootstrap 4 system, bootstrap 4, reactstrap, react, react bootstrap 4, bootstrap 4 uit kit, reactstrap uit kit, react bootstrap 4 uit kit, bootstrap 4 kit, reactstrap kit, react bootstrap 4 kit, argon, argon react, argon ui kit, argon react ui kit, creative tim, creative tim react, html kit, react kit, html css template, react css template, web template, react template, bootstrap, react bootstrap, bootstrap 4, react bootstrap 4, css3 template, react css3 template, frontend, responsive bootstrap template, responsive react bootstrap template, bootstrap ui kit, react bootstrap ui kit, responsive ui kit, responsive react ui kit, argon design system, argon design system react')
    meta(name='description' content='Start your development with a Design System for Bootstrap 4, React and Reactstrap.')
    meta(itemprop='name' content='Argon - Free Design System for Bootstrap 4, React and Reactstrap by Creative Tim')
    meta(itemprop='description' content='Start your development with a Design System for Bootstrap 4, React and Reactstrap.')
    meta(itemprop='image' content='https://s3.amazonaws.com/creativetim_bucket/products/160/opt_argon_react_thumbnail.jpg')
    meta(name='twitter:card' content='product')
    meta(name='twitter:site' content='@creativetim')
    meta(name='twitter:title' content='Argon Design System React by Creative Tim')
    meta(name='twitter:description' content='Start your development with a Design System for Bootstrap 4, React and Reactstrap.')
    meta(name='twitter:creator' content='@creativetim')
    meta(name='twitter:image' content='https://s3.amazonaws.com/creativetim_bucket/products/160/opt_argon_react_thumbnail.jpg')
    meta(property='fb:app_id' content='655968634437471')
    meta(property='og:title' content='Argon Design System React by Creative Tim')
    meta(property='og:type' content='article')
    meta(property='og:url' content='https://demos.creative-tim.com/argon-design-system-react/')
    meta(property='og:image' content='https://s3.amazonaws.com/creativetim_bucket/products/160/opt_argon_react_thumbnail.jpg')
    meta(property='og:description' content='Start your development with a Design System for Bootstrap 4, React and Reactstrap.')
    meta(property='og:site_name' content='Creative Tim')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet')
    title= title
    script.
      !function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-NKDMSK6",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer")
    link(href='/argon-design-system-react/static/css/main.113f2b50.chunk.css' rel='stylesheet')
    script(async='' src='https://script.hotjar.com/modules.223545ebe764d5c7aceb.js' charset='utf-8')
    style(type='text/css').
      iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}
    meta(http-equiv='origin-trial' content='A9cFT51hyLvFdafqzTF2J0uIhioi9p0acbiDm+JDOHGbp/esY8pWq1RmM2YiAFzu0kuh8XsHJibGZVXSRKbYGAQAAABveyJvcmlnaW4iOiJodHRwczovL3MucGluaW1nLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjYxMjk5MTk5LCJpc1RoaXJkUGFydHkiOnRydWV9')

   
  
  
  //- link(rel='stylesheet', href='/app.css')
  link(rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css")
  link(rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css")
  link(rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css")
  link(href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet")  
  //- link(rel='stylesheet', href='/stylesheets/tailwindcss.css')
  //- link(rel='stylesheet', href='/stylesheets/material-dashboard.css')
  link(rel='stylesheet', href='/stylesheets/argonCss.css')
  


  

  body
    block content

    